@media screen and (max-width: 550px) {
	*{
		margin: 0;
	}
	body{
		width: 550px;
	}
	html{
		width: 550px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
HEADER
---------------------------------------------------------------------------------------------------------------------------------------*/
	header{
		width: 550px;
		height: 150px;
	}
	header .ligne1 img{
	width: 150px;
	height: 150px;
	margin-top: -30px;
	}
	header .part1{
		display: grid;
		height: 100px;
	}
	header .ligne1{
		margin-left: 100px;
		height: 50px;
	}
	header .ligne1 p{
		margin-left: 50px;
		width: 300px;
	}
	header .ligne2{
		height: 50px;
		margin-left: 140px;
	}
	header .A-btn{
		margin-left: 130px;
	}
	header .btn{
		width: 50px;
		font-size: 10px;
	}
	header .icon{
		margin-left: 0px;
	}
	header .icn{
		width: 30px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
MAIN
---------------------------------------------------------------------------------------------------------------------------------------*/
	main{
		background-image: url(images/puma2.jpg);
		background-repeat: no-repeat;
		width: 550px;
		height: 700px;
	}
	main .contenaire{
		height: 110px;
	}
	main .logo{
		height: 200px;
		margin-left: -350px;
	}
	main .text{
		height: 250px;
		width: 500px;
		text-align: center;
	}
	main .text h1{
	font-size: 45px;
	width: 100%;
	}
	main .text p{
	font-size: 13px;
	}
	main .more{
		height: 200px;
		margin-left: -400px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------------------------------------------------------------------*/
	footer{
		width: 550px;
		height: 800px;
	}
	footer .image{
		display: grid;
	}
	footer .nixon{
		margin-top: -100px;
		margin-left: 15px;
		width: 500px;
	}
	footer .nike{
		margin-top: 50px;
		margin-left: 15px;
		width: 500px;
	}
	footer fieldset{
	border: 8px solid white;
	margin-left: -10px;
	width: 400px;
	}
	footer legend{
	font-size: 28px;
	margin-left: -26px;
	color: white;
	margin-bottom: 50px;
	}
	footer legend p{
	width: 130px;
	height: 100px;
	padding-top: 100px;
	padding-bottom: 10px;
	}
}

