@media screen all and (max-width: 600px) {
	*{
		margin: 0;
	}
	body{
		width: 800px;
	}
	html{
		width: 800px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
HEADER
---------------------------------------------------------------------------------------------------------------------------------------*/
	header{
		width: 800px;
		height: 110px;
	}
	header .ligne1 img{
	width: 100px;
	height: 100px;
	margin-top: -30px;
	}
	header .part1{
		height: 60px;
	}
	header .ligne1{
		margin-left: 120px;
		height: 25px;
	}
	header .ligne1 p{
		margin-left: 4px;
	}
	header .ligne2{
		margin-left: 50px;
		height: 25px;
	}
	header .A-btn{
		margin-left: 120px;
	}
	header .btn{
		width: 70px;
		font-size: 12.5px;
	}
	header .icon{
		margin-left: 100px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
MAIN
---------------------------------------------------------------------------------------------------------------------------------------*/
	main{
		background-image: url(images/puma2.jpg);
		background-repeat: no-repeat;
		width: 800px;
		height: 700px;
	}
	main .contenaire{
		height: 110px;
	}
	main .logo{
		height: 200px;
		margin-left: -250px;
	}
	main .text{
		height: 250px;
	}
	main .text h1{
	font-size: 50px;
	width: 100%;
	}
	main .text p{
	font-size: 13px;
	}
	main .more{
		height: 200px;
		margin-left: -300px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------------------------------------------------------------------*/
	footer{
		width: 800px;
		height: 800px;
	}
	footer .image{
		display: grid;
	}
	footer .nixon{
		margin-top: -100px;
		margin-left: 130px;
	}
	footer .nike{
		margin-top: 50px;
		margin-left: 130px;
	}
	footer fieldset{
	border: 8px solid white;
	}
	footer legend{
	font-size: 28px;
	margin-left: -26px;
	color: white;
	margin-bottom: 50px;
	}
	footer legend p{
	width: 130px;
	height: 100px;
	padding-top: 70px;
	}
}

